CONFIG_BT=y
CONFIG_BT_HCIUART=y
CONFIG_BT_HCIUART_QCA=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_EXTRA_FIRMWARE="qca/rampatch_00230302.bin qca/nvm_00230302.bin ath10k/QCA9377/hw1.0/firmware-5.bin ath10k/QCA9377/hw1.0/firmware-6.bin ath10k/QCA9377/hw1.0/firmware-sdio-5.bin ath10k/QCA9377/hw1.0/board.bin ath10k/QCA9377/hw1.0/board-2.bin"
CONFIG_EXTRA_FIRMWARE_DIR="$(HOME)/linux-firmware"
CONFIG_ATH10K=y
CONFIG_ATH10K_SDIO=y
CONFIG_RTC_DRV_RK808=y
CONFIG_COMMON_CLK_RK808=y
CONFIG_ROCKCHIP_SARADC=y
CONFIG_DRM_ROCKCHIP=y
CONFIG_LOGO=y
CONFIG_PWM_ROCKCHIP=y
CONFIG_DRM_PANEL_JADARD_JD9365DA_H3=y
CONFIG_PHY_ROCKCHIP_INNO_MIPI_DPHY=y
CONFIG_DEBUG_INFO_DWARF5=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_PHY_ROCKCHIP_INNO_USB2=y
