CONFIG_DRM=y
CONFIG_DRM_ROCKCHIP=y
CONFIG_LOGO_LINUX_MONO=y
CONFIG_LOGO_LINUX_VGA16=y
CONFIG_STMMAC_ETH=y
CONFIG_STMMAC_PLATFORM=y
CONFIG_RFKILL=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_BRCMFMAC=y
CONFIG_BT=y
CONFIG_BT_HCIUART=y
CONFIG_EXTRA_FIRMWARE="brcm/brcmfmac43455-sdio.bin brcm/brcmfmac43455-sdio.clm_blob brcm/brcmfmac43455-sdio.radxa,rock-4c-plus.bin brcm/brcmfmac43455-sdio.radxa,rock-4c-plus.txt brcm/BCM4345C0.hcd brcm/BCM4345C0.radxa,rock-4c-plus.hcd"
CONFIG_EXTRA_FIRMWARE_DIR="$(HOME)/Downloads"
CONFIG_BACKLIGHT_PWM=y
CONFIG_DRM_PANEL_JADARD_JD9365DA_H3=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_PWM_ROCKCHIP=y
